.patch{
    background-color: #dcdcdc91;
    /* height: 85vh; */
    padding: 12px;
}
.patch h2{
    text-align: center;
    padding: 1rem;
    background-color: blue;
    color: white;
}
.patch-container{
   
    background-color: white;
    /* height: 68vh; */
    border-top: 2px solid #080874c2;
    border-bottom: 2px solid green;
    /* padding: 1rem; */
}
.patch-top{
    background-color: white;
    padding: 10px;
    border-bottom: 1px dashed grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pt-container{
    background-color: #dadae3;
    width: 20%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 30px;
}
.line-delay-cli {
    background-color: black;
    color: white;
    padding: 17px;
    font-family: 'Courier New', monospace;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    overflow: auto;
    height: 30vh; 
    white-space: normal; 
    width: 40%;
    flex: 1;
    margin: 20px 0;
}
.cmd-box{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-direction: row-reverse;
}
.execution-top{
    margin: 10px;
    border: 1px solid #c6c1c1;
    padding: 10px;
}
.execution{
    display: flex;
    flex-direction: row-reverse;
   
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px dashed grey;
    
}
.execution p{
    flex:1;
    text-align: center;
}
.line-delay{
    background-color: #e5e9ef;
    /* border: 1px dashed blue; */
    margin: 20px 0;
    padding: 17px;
    width: 40%;
    line-height: 1.9;
    padding-right: 25px;
    height: 30vh;
    overflow: scroll;
    flex: 1;
}
.green{
    color: green;
    
}

.red{
    background-color:red;
    color: white;

}
.s4{
    font-size: 1.1rem;
}
.output{
    border-top: 1px solid;
    padding-top: 10px;
    min-height: 40vh;
}
.exe-btm{
    display: flex;
    margin: 10px;
    /* padding: 10px;
    border: 1px solid #c9c0c0; */
    /* width: 47%; */
    gap: 40px;
    justify-content: space-around;
    margin: 40px 20px 40px 20px;
}
.separate-head{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding-left: 10px;
}
.exe-btm table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9rem;
    border: 1px solid grey;
    flex: 1;
}

.exe-btm table td{
    /* text-align: center; */
    height: 50px;
    border: 1px solid grey;
    font-size: 1.1rem;
    width: 50%;
    
}
.err-div{
  
    color: black;
    /* text-align: center; */
    justify-content: center;
    border: none;
}
.error{
    /* display: flex;
    gap: 20px; */
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
}
.anime{ 
    overflow: hidden;
}
.video-btn{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    DISPLAY: flex;
    flex-direction: column;
    position: relative;
}
.video-btn button{
    color: white;
    background-color: blue;
    padding: 8px;
    border: none;
    font-weight: 600;
    border-radius: 3px
}

@keyframes floatText{
  from {
    bottom: 50%;
  }

  to {
    /* left: auto; */
    bottom: 40%;
  }
}

.tablescroll{
    
    height: 35vh;
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(154, 152, 152);
}

.exe-btm table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

.exe-btm th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.exe-btm th {
    background-color: #f2f2f2;
}

.exe-btm tr:nth-child(even) {
    background-color: #f2f2f2;
}

.exe-btm tr:hover {
    background-color: #ddd;
}
.justify{
    justify-content: center;
}
.green {
    color: green;
}

.s4 {
    font-size: 14px; /* Adjust font size as needed */
}

.exe-btm table th {
    background-color: lightgreen;
    padding: 12px;
    
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }