.patch{
    background-color: #dcdcdc91;
    /* height: 85vh; */
    padding: 12px;
}
.patch h2{
    text-align: center;
    padding: 1rem;
    background-color: blue;
    color: white;
}
.patch-container{
   
    background-color: white;
    /* height: 68vh; */
    border-top: 2px solid #080874c2;
    border-bottom: 2px solid green;
    /* padding: 1rem; */
}
.patch-top{
    background-color: white;
    padding: 10px;
    border-bottom: 1px dashed grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pt-container{
    background-color: #dadae3;
    width: 26%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    gap: 30px;
}
.line-delay-cli {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: 'Courier New', monospace;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    overflow: auto;
    height: 30vh; 
    white-space: pre-wrap; 
    width: 40%;
    flex: 1;
    margin: 20px 0;
}
.cmd-box{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-direction: row-reverse;
}
.execution-top{
    margin: 10px;
    border: 1px solid #c6c1c1;
    padding: 10px;
}
.execution{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px dashed grey;
    
}
.line-delay{
    background-color: #e5e9ef;
    /* border: 1px dashed blue; */
    margin: 20px 0;
    padding: 17px;
    width: 40%;
    line-height: 1.9;
    padding-right: 25px;
    height: 30vh;
    overflow: scroll;
    flex: 1;
}
.green{
    background-color: lightgreen;
    color: white;
}

.red{
    background-color:red;
    color: white;

}
.s4{
    font-size: 1.1rem;
}
.output{
    border-top: 1px solid;
    padding-top: 10px;
    min-height: 40vh;
}
.exe-btm{
    display: flex;
    margin: 10px;
    /* padding: 10px;
    border: 1px solid #c9c0c0; */
    /* width: 47%; */
    gap: 40px;
    justify-content: space-around;
    margin: 40px 20px 40px 20px;
}
.exe-btm table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9rem;
    border: 1px solid grey;
    flex: 1;
}
.exe-btm table td{
    /* text-align: center; */
    height: 50px;
    border: 1px solid grey;
    font-size: 1.1rem;
    width: 50%;
    
}
.err-div{
  
    color: black;
    /* text-align: center; */
    justify-content: center;
    border: none;
}
.error{
    /* display: flex;
    gap: 20px; */
    font-size: 1.1rem;
    display: flex;
    justify-content: space-around;
}
.anime{ 
    overflow: hidden;
}
.video-btn{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    DISPLAY: flex;
    flex-direction: column;
    position: relative;
}
.video-btn button{
    color: white;
    background-color: blue;
    padding: 8px;
    border: none;
    border-radius: 3px
}

@keyframes floatText{
  from {
    bottom: 50%;
  }

  to {
    /* left: auto; */
    bottom: 40%;
  }
}