.left-menu{
    flex: 0.2;
    height: 100vh;
}
.lm-top{
    background-color: #3f8dd7;
    color: white;
    text-align: center;
    padding: 0.7rem;
    font-size: 1.2rem;
    background-color: blue;
}
.lm-btm{
    background-color: cornflowerblue;
    /* background-color: #080874; */
    height: -webkit-fill-available;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 10px;
}
.lm-btm div{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    padding-left: 2rem;
    border-bottom: 1px solid #070bde52;
    padding-bottom: 15px;
}
.subsection{
    margin-top: -14px;
    flex-direction: column;
    gap: 10px;
    text-align: left;
    padding-left: 5rem;
    /* background: #006dff38; */
    padding: 10px;
    padding-left: 3.2rem !important;
}
#icon{
    padding-top: 5px;
    margin-left: 10px;
}
.left-menu a{
    color: white;
}
.left-menu .active{
    color: #3e3e45;
}